<div class="col-md-12 page-body">
  <div class="row">
    <div class="sub-title">
      <h2>Liên hệ với mình</h2>
      <a routerLink="/">
        <i class="icon-home"></i>
      </a>
    </div>
    <div class="col-md-12 content-page">
      <div class="col-md-12 blog-post">
        <!-- Intro Start -->
        <div class="post-title margin-bottom-10">
          <h1>Giới thiệu bản thân</h1>
        </div>
        <p>Hiện tại mình đang hoàn thiện trang web. Nên chưa có nhiều thông tin mong mọi người thông cảm</p>
        <!-- Intro End -->
        <!-- Testimonials Start -->
        <div class="post-title margin-top-50">
          <h2>Những câu nói tâm đắc</h2>
        </div>
        <div class="row">
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="testimonial-content">
              <p>Mua thật rẻ. Cải cách nó và bán với giá hời</p>
            </div>
            <div class="testimonial-client-info">
              <div class="testimonial-client client-thumb">
                <img src="assets/images/pic/warren-buffett.jpg" alt="">
              </div>
              <div class="client-text">
                <div class="client-name">Warren Edward Buffett</div>
                <span>Omaha, Nebraska, U.S</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="testimonial-content">
              <p>Không có lý do nào chúng ta thuê những người tài giỏi mà còn phải nói cho họ biết họ phải làm những gì. Chúng
                ta phải thuê những người tài giỏi để họ nói cho chúng ta biết phải làm gì</p>
            </div>
            <div class="testimonial-client-info">
              <div class="testimonial-client client-thumb">
                <img src="assets/images/pic/steve-jobs.jpg" alt="">
              </div>
              <div class="client-text">
                <div class="client-name">Steve Jobs</div>
                <span>CEO of Apple Inc</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="testimonial-content">
              <p>Một người luôn phải bận rộn với tư tưởng của mình nếu muốn đạt được bất cứ cái gì.</p>
            </div>
            <div class="testimonial-client-info">
              <div class="testimonial-client client-thumb">
                <img src="assets/images/pic/Antonie-van-Leeuwenhoek.jpg" alt="">
              </div>
              <div class="client-text">
                <div class="client-name">Antonie van Leeuwenhoek</div>
              </div>
            </div>
          </div>
        </div>
        <!-- Testimonials  End -->
        <!-- Contact Me Start -->
        <div class="post-title margin-top-70">
          <h1>Liên hệ với 
            <span class="main-color">tôi</span>
          </h1>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <div class="contact-us-detail">
              <i class="icon-screen-smartphone color-6"></i>
              <p>
                <a href="tel:+1234567890">+84 974 ... ....</a>
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="contact-us-detail">
              <i class="icon-envelope-open color-5"></i>
              <p>
                <a href="mailto:dinhhongphi@gmail.com">dinhhongphi@gmail.com</a>
              </p>
            </div>
          </div>
          <div class="col-md-4 col-sm-4">
            <div class="contact-us-detail">
              <i class="icon-clock color-3"></i>
              <p>Mon - Fri 07:00 – 23:00</p>
            </div>
          </div>
        </div>
        <div class="row margin-top-30">
          <div class="col-md-12">
            <div class="row">
              <form>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" id="name" class="form-control" placeholder="Your Name">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="email" id="email" class="form-control" placeholder="Your Email">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" id="website" class="form-control" placeholder="Your Website">
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <input type="text" id="address" class="form-control" placeholder="Where are You From?">
                  </div>
                </div>
                <div class="col-sm-12">
                  <select id="subject" class="form-group form-control">
                    <option value="" selected disabled>Công việc hiện tại</option>
                    <option>Website Design & Development</option>
                    <option>Wordpress Development</option>
                    <option>Search Engine Optimization</option>
                    <option>Mobile Website</option>
                    <option>I Want to General Talk</option>
                    <option>Other</option>
                  </select>
                </div>
                <div class="col-sm-12">
                  <div class="textarea-message form-group">
                    <textarea id="message" class="textarea-message form-control" placeholder="Your Message" rows="5"></textarea>
                  </div>
                </div>
                <div class="text-center">
                  <button type="submit" class="load-more-button">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- Contact Me End -->
      </div>
    </div>
  </div>
</div>