<div class="col-md-12 page-body">
  <div class="row">
    <div class="sub-title">
      <h2>GIỚI THIỆU BẢN THÂN</h2>
      <a href="contact.html">
        <i class="icon-envelope"></i>
      </a>
    </div>
    <div class="col-md-12 content-page">
      <div class="col-md-12 blog-post">
        <!-- My Intro Start -->
        <div class="post-title margin-bottom-30">
          <h1>Xin chào, mình là
            <span class="main-color">Đinh Hồng Phi</span>
          </h1>
          <ul class="knowledge">
            <li class="bg-color-4">Web Developer</li>
            <li class="bg-color-5">Network engineer</li>
          </ul>
        </div>
        <!-- My Intro End -->
        <p>Xin chào mọi người hiện tại mình đang là sinh viên năm thứ 4 của trường Đại học Công nghệ Thông tin (UIT)</p>
        <!-- Video Start -->
        <!-- <div class="video-box margin-top-40 margin-bottom-80">
            <div class="video-tutorial">
              <a class="video-popup" href="https://www.youtube.com/watch?v=O2Bsw3lrhvs" title="My Thought">
                <img src="images/pic/my-pic.png" alt="">
              </a>
            </div>
            <p>Take a look about my thought on website design.</p>
          </div> -->
        <!-- Video End -->

        <!-- My Service Start -->
        <div class="post-title">
          <h1>Công việc của mình</h1>
        </div>

        <div class="list list-style-2 margin-top-30">
          <ul>
            <li>Website Development</li>
            <li>Hỗ trợ cấu hình mạng cho doanh nghiệp nhỏ</li>
          </ul>
        </div>
        <!-- My Service End -->
      </div>
      <div class="col-md-12 text-center">
        <a routerLink="/contact" data-toggle="tooltip" data-placement="top" title="Visit on my contact page for hire me." class="load-more-button">Hire</a>
      </div>
    </div>
  </div>
</div>